{
  "branches": [
    {
      "name": "beta",
      "prerelease": "beta"
    },
    "master"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github"
  ]
}
